---
import { tailwindSizes } from "../utils/variables.js";

let {
  size = "lg",
  backgroundImage, // Imagen de fondo (obligatoria)
  imagePosition = "center",
  ctaText, // Texto del botón opcional
  ctaLink, // Enlace del botón opcional
  altura,
  overlay = false, // Si está activado, agrega una capa de atenuación sobre la imagen
  darkMode = false, // Propiedad para alternar entre el modo claro y oscuro
  colorScheme = "primary", // Esquema de color
  opacity = "opacity-50",
  shadow = false, // Si está activado, aplica una sombra al contenedor
  shadowType = "glow", // Tipo de sombra: glow, bottom, double
  transparent = false, // Si se activa, el fondo será transparente
  rounded = false, // Si se activa, las esquinas estarán redondeadas
  borderRadius = "rounded-lg", // Redondeo por defecto
  css = "", // estilos adicionales
} = Astro.props;

// Obtén el tamaño según el prop 'size', con valor por defecto 'md'
const selectedSize = tailwindSizes[size] || tailwindSizes["md"];

// Definimos los esquemas de color para que sean fáciles de aplicar
const colorVariants = {
  primary: {
    bg: darkMode ? "bg-primary-darker" : "bg-primary-lighter",
    text: darkMode ? "text-primary-lighter" : "text-primary",
    buttonBg: "bg-primary",
    overlay: darkMode ? `bg-primary-darker` : `bg-primary-lighter`,
  },
  secondary: {
    bg: darkMode ? "bg-secondary-darker" : "bg-secondary-lighter",
    text: darkMode ? "text-secondary-lighter" : "text-secondary-darker",
    buttonBg: "bg-secondary-dark",
    overlay: darkMode ? "bg-secondary-darker" : "bg-secondary-lighter",
  },
  tertiary: {
    bg: darkMode ? "bg-tertiary-darker" : "bg-tertiary-lighter",
    text: darkMode ? "text-tertiary-lighter" : "text-tertiary",
    buttonBg: "bg-tertiary",
    overlay: darkMode ? "bg-tertiary-darker" : "bg-tertiary-lighter",
  },
  complementary: {
    bg: darkMode ? "bg-complementary-darker" : "bg-complementary-lighter",
    text: darkMode ? "text-complementary-lighter" : "text-complementary",
    buttonBg: "bg-complementary",
    overlay: darkMode ? "bg-complementary-darker" : "bg-complementary-lighter",
  },
  black: {
    bg: darkMode ? "bg-black" : "bg-transparent",
    text: darkMode ? "text-white" : "text-white",
    buttonBg: "bg-black",
    overlay: "bg-black",
  },
  white: {
    bg: darkMode ? "bg-transparent" : "bg-white",
    text: darkMode ? "text-black" : "text-black",
    buttonBg: "bg-white",
    overlay: "bg-white",
  },
  transparent: {
    bg: "bg-transparent",
    text: darkMode ? "text-primary-lighter" : "text-primary",
    buttonBg: "bg-primary",
    overlay: darkMode ? "bg-black" : "bg-white",
  },
};

const selectedColors = colorVariants[colorScheme] || colorVariants.primary;
if (transparent) selectedColors.bg = "bg-transparent";

// Clases para sombra opcional, según el tipo de sombra seleccionado
const shadowClass = shadow ? `shadow-${shadowType}` : "";

// Clases para bordes redondeados si está activado
const roundedClass = rounded ? borderRadius : "";
---

<section
  class={`${selectedSize} ${altura} relative flex flex-col justify-center items-center text-center mb-4 p-4 ${selectedColors.bg}  ${shadowClass} ${roundedClass} ${css}`}
  style={`background-image: url('${backgroundImage}'); background-size: cover ; background-position: ${imagePosition};`}
>
  {/* Capa de atenuación */}
  {
    overlay && (
      <div
        class={
          "absolute inset-0 " +
          selectedColors.overlay +
          " " +
          opacity +
          " " +
          roundedClass
        }
      /> // Capa de atenuación oscura
    )
  }

  <div class="relative z-10">
    <slot />

    {/* Botón opcional con enlace */}
    {
      ctaText && ctaLink && (
        <a
          href={ctaLink}
          class={`mt-6 inline-block ${selectedColors.buttonBg} text-white py-3 px-6 rounded hover:${selectedColors.buttonBg}-dark`}>
          {ctaText}
        </a>
      )
    }
  </div>
</section>
