---
let {
  title = "Bienvenidos a nuestra tienda", // Título principal
  subtitle, // Subtítulo opcional
  backgroundImage, // Imagen de fondo (obligatoria)
  imagePosition = "center",
  ctaText, // Texto del botón opcional
  ctaLink, // Enlace del botón opcional
  altura = "h-144",
  overlay = false, // Si está activado, agrega una capa de atenuación sobre la imagen
  darkMode = false, // Propiedad para alternar entre el modo claro y oscuro
  colorScheme = "primary", // Esquema de color
  opacity = "opacity-50",
  shadow = false, // Si está activado, aplica una sombra al contenedor
  shadowType = "glow", // Tipo de sombra: glow, bottom, double
  transparent = false, // Si se activa, el fondo será transparente
} = Astro.props;

// Definimos los esquemas de color para que sean fáciles de aplicar
const colorVariants = {
  primary: {
    bg: darkMode ? "bg-primary-darker" : "bg-primary-lighter",
    text: darkMode ? "text-primary-lighter" : "text-primary",
    buttonBg: "bg-primary",
    overlay: darkMode ? `bg-primary-darker` : `bg-primary-lighter`,
  },
  secondary: {
    bg: darkMode ? "bg-secondary-darker" : "bg-secondary-lighter",
    text: darkMode ? "text-secondary-lighter" : "text-secondary-darker",
    buttonBg: "bg-secondary-dark",
    overlay: darkMode ? "bg-secondary-darker" : "bg-secondary-lighter",
  },
  tertiary: {
    bg: darkMode ? "bg-tertiary-darker" : "bg-tertiary-lighter",
    text: darkMode ? "text-tertiary-lighter" : "text-tertiary",
    buttonBg: "bg-tertiary",
    overlay: darkMode ? "bg-tertiary-darker" : "bg-tertiary-lighter",
  },
  complementary: {
    bg: darkMode ? "bg-complementary-darker" : "bg-complementary-lighter",
    text: darkMode ? "text-complementary-lighter" : "text-complementary",
    buttonBg: "bg-complementary",
    overlay: darkMode ? "bg-complementary-darker" : "bg-complementary-lighter",
  },
  black: {
    bg: darkMode ? "bg-black" : "bg-transparent",
    text: darkMode ? "text-white" : "text-white",
    buttonBg: "bg-black",
    overlay: "bg-black",
  },
  white: {
    bg: darkMode ? "bg-transparent" : "bg-white",
    text: darkMode ? "text-black" : "text-black",
    buttonBg: "bg-white",
    overlay: "bg-white",
  },
  transparent: {
    bg: "bg-transparent",
    text: darkMode ? "text-primary-lighter" : "text-primary",
    buttonBg: "bg-primary",
    overlay: darkMode ? "bg-black" : "bg-white",
  },
};

const selectedColors = colorVariants[colorScheme] || colorVariants.primary;
if (transparent) selectedColors.bg = "bg-transparent";

// Clases para sombra opcional, según el tipo de sombra seleccionado
const shadowClass = shadow ? `shadow-${shadowType}` : "";
---

<section
  class={`relative ${altura} flex flex-col justify-center items-center text-center mb-4 ${selectedColors.bg} ${shadowClass}`}
  style={`background-image: url('${backgroundImage}'); background-size: cover ; background-position: ${imagePosition};`}
>
  {/* Capa de atenuación */}
  {
    overlay && (
      <div
        class={"absolute inset-0 " + selectedColors.overlay + " " + opacity}
      /> // Capa de atenuación oscura
    )
  }

  <div class="relative z-10">
    {/* Esto asegura que el contenido quede encima de la capa */}
    {/* Título principal */}
    <h1 class={`text-4xl font-title ${selectedColors.text}`}>{title}</h1>

    {/* Subtítulo opcional */}
    {subtitle && <p class="text-lg mt-4">{subtitle}</p>}

    {/* Botón opcional con enlace */}
    {
      ctaText && ctaLink && (
        <a
          href={ctaLink}
          class={`mt-6 inline-block ${selectedColors.buttonBg} text-white py-3 px-6 rounded hover:${selectedColors.buttonBg}-dark`}>
          {ctaText}
        </a>
      )
    }
  </div>
</section>
